<h1>{{ resource.resolve_resource_path() }}</h1>

{% if resource.type %}<strong>Type</strong>: {{ resource.type }}{% endif %}{% if resource.is_required %} (required){% endif %}

<h2>Description</h2>
<p>{{ resource.desc or resource.metadata.desc }}</p>

{% if resource.kind or resource.version %}
<h2>Metadata</h2>
<strong>Kind</strong>: {{ resource.metadata.kind }}

<strong>Version</strong>: {{ resource.metadata.version }}
{% if resource.type %}<strong>Type</strong>: <{{ resource.type }}>{% endif %}
{% endif %}

{% if resource.fields %}
<h2>Fields</h2>
{% for resource in resource.fields %}
<details>
<summary>{{ resource.name }}{% if resource.type %}: {{ resource.type }}{% endif %}{% if resource.is_required %} required!{% endif %}</summary>

{% include 'field.html' %}

</details>
{% endfor %}
{% endif %}